@model LanchesListViewModel
@using Lojinha.Models

<div><h2>@Model.CategoriaAtual</h2></div>
<div class="form-group row" style="margin-top: 5%">
    @foreach (var lanches in Model.Lanches)
    {
        <partial name="_LanchesResumo" for="@lanches" />
    }
    </div>