@model HomeViewModel

@await Html.PartialAsync("_Carousel")

<div class="form-group row" style="margin-top: 5%">
    @foreach(var item in Model.lanchesPreferidos)
    {
        @Html.Partial("_LanchesResumo", item);
    }
</div>
